body {
  background-color: Orange;
  h1-color: Cyan;
  font-family: Brown;
}

.kartu-profil {
  width : 250px;
  margin : 25px;
  padding: 30px;
  background-color: grey;
  text-align: center;
}





