body {
  background-color: #ffbf80;
  h1-color: #ffff66;
  font-family: #ffff00;
}

.kartu-profil {
  width : 250px;
  margin : 25px;
  padding: 30px;
  background-color: grey;
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius : 75%;


  
}





